<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field">
          <label> Phone Number </label>
          <input type="text"
                 name="pNum"
                 ng-model="user.profile.pNum">
        </div>

        <div class="field">
          <label> Age </label>
          <input type="number"
                 name="age"
                 ng-model="user.profile.age">
        </div>

        <div class="field">
          <label>What is your race/ethnicity?</label>
          <select
            name="ethnicity"
            ng-model="user.profile.ethnicity">
            <option value="">Race/Ethnicity</option>
            <option value="AN">American Indian or Alaskan Native</option>
            <option value="AS">Asian / Pacific Islander</option>
            <option value="AA">Black or African American</option>
            <option value="H">Hispanic</option>
            <option value="W">White / Caucasian</option>
            <option value="ML">Multiple ethnicity / Other (Please Specify)</option>
            <option value="na">Prefer not to answer</option>
          </select>
        </div>

        <div class="field" ng-show='user.profile.ethnicity=="ML"'>
          <label>Other: </label>
          <input type = 'text', name = 'otherEthnicity', ng-model='user.profile.otherEthnicity'>
        </div>

        <div class="field ">
          <label>Gender</label>
          <select
            name="gender"
            id = 'gender'
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field" ng-show='user.profile.gender=="O"'>
          <label>Other: </label>
          <input type = 'text', name = 'otherGender', ng-model='user.profile.otherGender'>
        </div>

        <div class="field">
          <label> City </label>
          <input type="text"
                 name="city"
                 ng-model="user.profile.city">
        </div>

        <div class="field">
          <label>
            What experience do you have (programming)
          </label>
          <textarea name = "expP" ng-model="user.profile.expP">
          </textarea>
        </div>

        <div class="field">
          <label> How many hackathons have you attended? </label>
          <input type="number"
                 name="hackNum"
                 ng-model="user.profile.hackNum">
        </div>

        <div class="field">
          <label>What is your most current level of study?</label>
          <input type="text"
                 name = 'studyLevel'
                 placeholder="College, University, High School etc.."
                 ng-model="user.profile.studyLevel">
        </div>

        <div class="field">
          <label>Major/Program</label>
          <input type="text"
                 name = 'program'
                 placeholder="Computer Engineering, Business Technology Managemenet etc.."
                 ng-model="user.profile.program">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label>Graduation Year</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022+</option>
          </select>
        </div>

        <div class="field">
          <label>What is your Github? (optional)</label>
          <input type="text"
                 name = 'github'
                 placeholder="ex: https://github.com/dstingaciu/"
                 ng-model="user.profile.github">
        </div>

        <div class="field">
          <label>Do you have a personal website? (optional)</label>
          <input type="text"
                 name = 'persWeb'
                 placeholder="www.me.com"
                 ng-model="user.profile.persWeb">
        </div>

        <div class="field">
          <label>How did you hear about us?</label>
          <input type="text"
                 name = 'hearAbout'
                 placeholder="email, MLH, other, etc.."
                 ng-model="user.profile.hearAbout">
        </div>

        <div class="field">
          <label>I would describe myself as a...</label>
          <input type="text"
                 name = 'description'
                 placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                 ng-model="user.profile.description">
        </div>

        <div class="field">
          <label>
              What would you like to learn or get out of RU Hacks?
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="field">
          <label>
            What is something you have done/created (personal project) that you are most proud of and why? 
          </label>
          <textarea ng-model="user.profile.persProj">
          </textarea>
        </div>

        <div class="field">
          <label>
            What is an essential not-so-obvious skill in life?
          </label>
          <textarea ng-model="user.profile.reddit">
          </textarea>
        </div>

        

        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult"> <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">I have read and agree to the ​MLH Code of Conduct </a></label>
          </div>
        </div>

        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="mlhAuth" ng-model="user.profile.mlhAuth">
            <label for="mlhAuth">I authorize you to share certain application/registration information for event administration, ranking, MLH administration, pre and post-event informational e-mails, and occasional messages about hackathons in-line with the <a href = 'https://mlh.io/privacy'>MLH Privacy Policy</a>. I further I agree to the terms of both the <a href = 'https://github.com/MLH/mlh-policies/blob/master/prize-terms-and-conditions/contest-terms.md'>MLH Contest Terms and Conditions</a> and the <a href = 'https://mlh.io/privacy'>MLH Privacy Policy</a>.</label>
          </div>
        </div>

        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="overEight" ng-model="user.profile.overEight">
            <label for="overEight"> I certify that I am 18 years of age or older</label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
