<div class="ui top attached segment">

  <div class="ui header">
    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
    <span
      ng-show="selectedUser.admin">
      (Admin)
    </span>
  </div>

</div>

<div class="ui botom attached segment">

  <div>
    <p>
      <strong> Status: </strong>
      <span
        class="ui label">
        {{selectedUser.status.name.toUpperCase()}}
      </span>
    </p>
    <p>
      <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
    </p>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Basic Info
      </div>

      <div class="field">
        <strong>
          Created on:
        </strong>
        {{formatTime(selectedUser.timestamp)}}
      </div>

      <div class="field">
        <strong>
          Last Updated:
        </strong>
        {{formatTime(selectedUser.lastUpdated)}}
      </div>


      <div class="field">
        <label> Email </label>
        <input type="text" ng-model="selectedUser.email" />
      </div>

      <div class="field">
        <label> Team </label>
        <input type="text" ng-model="selectedUser.teamCode" />
      </div>

    </fieldset>

  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
       Profile
      </div>

      <div class="field">
        <label> Email </label>
        <input type="email"
               name="email"
               disabled="disabled"
               ng-model="selectedUser.email">
      </div>

      <div class="field">
        <label> Full Name </label>
        <input type="text"
               name="name"
               ng-model="selectedUser.profile.name">
      </div>

      <div class="field">
        <label> Age </label>
        <input type="number"
               name="age"
               ng-model="selectedUser.profile.age">
      </div>

      <div class="field">
        <label>What is your race/ethnicity?</label>
        <select
          name="ethnicity"
          ng-model="user.profile.ethnicity">
          <option value="">Race/Ethnicity</option>
          <option value="AN">American Indian or Alaskan Native</option>
          <option value="AS">Asian / Pacific Islander</option>
          <option value="AA">Black or African American</option>
          <option value="H">Hispanic</option>
          <option value="W">White / Caucasian</option>
          <option value="ML">Multiple ethnicity / Other (Please Specify)</option>
          <option value="na">Prefer not to answer</option>
        </select>
      </div>

      <div class="field" ng-show='user.profile.ethnicity=="ML"'>
        <label>Other: </label>
        <input type = 'text', name = 'otherEthnicity', ng-model='user.profile.otherEthnicity'>
      </div>

      <div class="field">
        <label> Phone number </label>
        <input type="text"
               name="pNum"
               ng-model="selectedUser.profile.pNum">
      </div>


      <div class="field">
        <label>Gender</label>
        <select
          name="gender"
          ng-model="selectedUser.profile.gender">
          <option value="">Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Other</option>
          <option value="N">I prefer not to answer.</option>
        </select>
      </div>

      <div class="field" ng-show='user.profile.gender=="O"'>
        <label>Other: </label>
        <input type = 'text', name = 'otherGender', ng-model='selectedUser.profile.otherGender'>
      </div>

      <div class="field">
        <label> City </label>
        <input type="text"
               name="city"
               ng-model="selectedUser.profile.city">
      </div>

      <div class="field">
        <label>
          What experience do you have (programming)
        </label>
        <input type = "number" name = "expP" ng-model="selectedUser.profile.expP">
        </textarea>
      </div>

      <div class="field">
        <label> How many hackathons have you attended? </label>
        <input type="number"
               name="hackNum"
               ng-model="selectedUser.profile.hackNum">
      </div>

      <div class="field">
        <label>What is your most current level of study?</label>
        <input type="text"
               name = 'studyLevel'
               placeholder="College, University, High School etc.."
               ng-model="user.profile.studyLevel">
      </div>

      <div class="field">
        <label>Major/Program</label>
        <input type="text"
               placeholder="Computer Engineering, Business Technology Managemenet etc.."
               ng-model="selectedUser.profile.program">
      </div>

      <div class="field" ng-show="autoFilledSchool">
        <label> School </label>
        <input class="ui input"
               disabled="disabled"
               ng-show="autoFilledSchool"
               ng-model="selectedUser.profile.school">
      </div>

      <div class="field" ng-show="!autoFilledSchool">
        <label> School </label>
        <input class="ui input"
               name="school"
               ng-model="selectedUser.profile.school">
      </div>

      <div class="field">
        <label>Graduation Year</label>
        <select
          name="year"
          ng-model="selectedUser.profile.graduationYear">
          <option value="">Graduation Year</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022+</option>
        </select>
      </div>

      <div class="field">
        <label>What is your Github? (optional)</label>
        <input type="text"
               placeholder="ex: https://github.com/dstingaciu/"
               ng-model="selectedUser.profile.github">
      </div>

      <div class="field">
        <label>Do you have a personal website? (optional)</label>
        <input type="text"
               placeholder="www.me.com"
               ng-model="selectedUser.profile.persWeb">
      </div>

      <div class="field">
        <label>How did you hear about us</label>
        <input type="text"
               placeholder="email, MLH, other, etc.."
               ng-model="selectedUser.profile.hearAbout">
      </div>

      <div class="field">
        <label>I would describe myself as a...</label>
        <input type="text"
               placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
               ng-model="selectedUser.profile.description">
      </div>

      <div class="field">
        <label>
            What would you like to learn or get out of RU Hacks?
        </label>
        <textarea ng-model="selectedUser.profile.essay">
        </textarea>
      </div>

      <div class="field">
        <label>
          What is something you have done/created (personal project) that you are most proud of and why? 
        </label>
        <textarea ng-model="selectedUser.profile.essay">
        </textarea>
      </div>

      <div class="field">
        <label>
          What is an essential not-so-obvious skill in life?
        </label>
        <textarea ng-model="selectedUser.profile.reddit">
        </textarea>
      </div>

      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" id="adult" ng-model="user.profile.adult">
          <label for="adult"> <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">I have read and agree to the ​MLH Code of Conduct </a></label>
        </div>
      </div>

      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" id="mlhAuth" ng-model="user.profile.mlhAuth">
          <label for="mlhAuth">I authorize you to share certain application/registration information for event administration, ranking, MLH administration, pre and post-event informational e-mails, and occasional messages about hackathons in-line with the <a href = 'https://mlh.io/privacy'>MLH Privacy Policy</a>. I further I agree to the terms of both the <a href = 'https://github.com/MLH/mlh-policies/blob/master/prize-terms-and-conditions/contest-terms.md'>MLH Contest Terms and Conditions</a> and the <a href = 'https://mlh.io/privacy'>MLH Privacy Policy</a>.</label>
        </div>
      </div>

      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" id="adult" ng-model="selectedUser.profile.adult">
          <label for="adult">I have read and agree to the ​MLH Code of Conduct </label>
        </div>
      </div>

      <div class="field">
        <div
          ng-click="updateProfile()"
          class="ui positive right labeled icon button">
          Update Profile
          <i class="checkmark icon"></i>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Confirmation
      </div>

      <div class="field">
        <label> Phone </label>
        <input type="tel" ng-model="selectedUser.confirmation.phoneNumber" />
      </div>

      <div class="field">
        <label> Dietary Restrictions </label>
        <input
          type="text" ng-model="selectedUser.confirmation.dietaryRestrictions" />
      </div>

      <div class="field">
        <label> Shirt Size </label>
        <input type="text" ng-model="selectedUser.profile.shirtSize" />
      </div>

      <div class="field">
        <label> Major </label>
        <input type="text" ng-model="selectedUser.profile.major" />
      </div>

      <div class="field">
        <label> Github </label>
        <input type="url" ng-model="selectedUser.profile.github" />
      </div>

      <div class="field">
        <label> Website </label>
        <input type="url" ng-model="selectedUser.profile.website" />
      </div>

      <div class="field">
        <label> Resume </label>
        <input type="url" ng-model="selectedUser.profile.resume" />
      </div>

      <div class="ui divider"></div>

      <div class="field">
        <label>
        Hardware
        </label>
        <input type="text" ng-model="selectedUser.confirmation.hardware">
      </div>

      <div class="ui divider"></div>

      <div class="ui header">
        Travel
      </div>

      <div class="field">
        <strong> Needs Reimbursement</strong>
        <i
          ng-if="selectedUser.confirmation.needsReimbursement"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.needsReimbursement"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <label>Full Name</label>
        <input type="text"
               name="name"
               ng-model="selectedUser.confirmation.address.name">
      </div>

      <div class="field">
        <label> Address Line 1 - Street address, P.O. box, company name, c/o </label>
        <input
          type="text"
          name="addressLine1"
          ng-model="selectedUser.confirmation.address.line1">
      </div>

      <div class="field">
        <label> Address Line 2 - Apartment, suite, unit, building, floor, etc. </label>
        <input
          type="text"
          name="addressLine2"
          ng-model="selectedUser.confirmation.address.line2">
      </div>

      <div class="four fields">
        <div class="field">
          <label> City </label>
          <input
            type="text"
            name="city"
            ng-model="selectedUser.confirmation.address.city">
        </div>
        <div class="field">
          <label> State/Province/Region </label>
          <input
            type="text"
            name="state"
            ng-model="selectedUser.confirmation.address.state">
        </div>
        <div class="field">
          <label> ZIP </label>
          <input
            type="text"
            name="zip"
            ng-model="selectedUser.confirmation.address.zip">
        </div>
        <div class="field">
          <label> Country </label>
          <input
            type="text"
            name="country"
            ng-model="selectedUser.confirmation.address.country">
        </div>
      </div>

      <div class="field">
        <label> Receipt </label>
        <input type="url" ng-model="selectedUser.confirmation.receipt" />
      </div>

      <div class="field">
        <label> Additional Notes </label>
        <textarea ng-model="selectedUser.confirmation.notes"></textarea>
      </div>

    </fieldset>

  </div>
</div>
